* {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #feff86; /* rgb(234, 234, 234);*/
}

body {
	padding: 20px 60px;
}

input {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #006f60;
	color: black;
	font-size: 1.2rem;
	outline: none;
	padding: 10px 15px;
	width: 100%;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	align-content: center;
	align-items: center;
	background-color: black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 0%;
	justify-content: center;
	margin-bottom: 20px;
	margin-right: 20px;
	overflow: hidden;
	width: min-content;
}

.card p {
	background-color: black;
	color: white;
	flex: 1;
	font-size: 1.2rem;
	margin-top: 5px;
	padding: 5px 20px 0px 20px;
	text-align: center;
}

.card img {
	max-height: 200px;
	width: auto;
}
